<%= link_to 'Home', root_path %>
<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, './employees/' + employee.id.to_s %></td>
        <td><a href="mailto:<%=employee.email%>"><%= employee.email %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
